.card {
    border: 1px $navy solid;
    min-width: 200px;
    width: 25vw;
    padding: 1rem;
    text-align: center;
    min-height: 60vh;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cardImg {
    width: 90%;
    height: 30%;
    border: 1px $navy solid;
}

.cardGroup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .card {
        margin: 2rem;
    }

    .cardSnap.snap800{

        .cardsSnapHeading {
            display: none;
        
            .cardGroupSnapHeading {
                display: none;
            }
        }

        .scrollSnap {
            display: none;
        }
    }
}

.projects {
    background-color: $ghost;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cardLinks {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    bottom: 0.1rem;

    .cardLinkText{
        padding: 0 2rem;
    }
}

.cardsHeading {
    text-align: center;
}