.projects {
    background-color: $ghost;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mediaMax($main){
        height: 100%;
    }

    .scroll {
        @include mediaMax($main){
            display: none;
        }
    }

    .cardsHeading {
        text-align: center;
        @include mediaMax($main){
            display: none;
        }
    }

    .cardGroup {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 20px;
        grid-gap: 20px;

        @include mediaMax($main){
            flex-direction: column;
            align-items: center;
        }

        .cardSnap.snap800{
            width: calc(33.33% - 13.33px);

            @include mediaMax($main){
                width: 100%;
                min-height: 0;
                height: 100vh;
                height: calc(var(--vh, 1vh) * 100);
                scroll-snap-align: start;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            .cardsSnapHeading {
                display: none;

                @include mediaMax($main){
                    display: block;
                }
            
                .cardGroupSnapHeading {
                    display: none;

                    @include mediaMax($main){
                        display: block;
                    }
                }
            }

            .scrollSnap {
                display: none;

                @include mediaMax($main){
                    display: block;
                }
            }

            .card {
                border: 1px $navy solid;
                width: 100%;
                height: 100%;
                padding: 1rem;
                text-align: center;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                @include mediaMax($main){
                    justify-content: space-evenly;
                    height: auto;
                }

                .cardImgContainer {
                    width: 100%;
                    height: 0;
                    padding-top: 56.25%;
                    border: 1px $navy solid;
                    position: relative;
                
                    .cardImg {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                .cardText {
                    @include mediaMax($main){
                        font-size: 1rem;
                    }

                    @include mediaMax($phone-l){
                        font-size: 0.85rem;
                    }

                    @include mediaMax($phone-l){
                        margin: 1rem;
                        height: 50%;
                    }
                }

                .cardLinks {
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    padding-top: 1.5rem;
                    padding-bottom: 0.5rem;
                    margin-bottom: 0.1rem;
                    margin-top: auto;
                
                    .cardLinkText{
                        padding: 0 2rem;
                    }
                }
            }
        }
    }
}