.card {
    border: 1px $navy solid;
    min-width: 200px;
    width: 25vw;
    padding: 1rem;
    text-align: center;
    min-height: 60vh;
    position: relative;
}

.cardImg {
    width: 90%;
    padding-bottom: 1rem;
}

.cardGroup {
    display: flex;
    justify-content: space-evenly;

    .card {
        margin: 2rem;
    }
}

.projects {
    background-color: $ghost;
    height: 100vh;
    text-align: center;

    .scroll {
        margin: 2rem;  
    }
}

.cardLinks {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}