.contact {
    background-color: $orange;
    height: 100vh;
    text-align: center;
    position: relative;
    width: 100%;
}

.contactBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15vh;
    .heading {
        margin-bottom: 2rem;
    }
}