.scroll, .scrollSnap {
    width: 20px;
    filter: invert(64%) sepia(70%) saturate(1088%) hue-rotate(318deg) brightness(86%) contrast(96%);
}

.down {
    padding-bottom: 2rem;
}

.up {
    padding-top: 2rem;
}

.scrollWhite {
    width: 20px;
    filter: invert(84%) sepia(32%) saturate(420%) hue-rotate(196deg) brightness(107%) contrast(112%);
}

.contactIcon {
    width: 100px;
    filter: invert(84%) sepia(32%) saturate(420%) hue-rotate(196deg) brightness(107%) contrast(112%);
}

.email {
    text-align: center;
}

.proj3 {
    display: none;
}