.scroll {
    width: 20px;
    filter: invert(64%) sepia(70%) saturate(1088%) hue-rotate(318deg) brightness(86%) contrast(96%);
    position: absolute;
    padding: 2rem 0;
}

.down {
    bottom: 0;
}

.top {
    top: 0;
}

.scrollWhite {
    width: 20px;
    filter: invert(84%) sepia(32%) saturate(420%) hue-rotate(196deg) brightness(107%) contrast(112%);
    position: absolute;
    padding: 2rem 0;
}

.contactIcon {
    width: 10vw;
    filter: invert(84%) sepia(32%) saturate(420%) hue-rotate(196deg) brightness(107%) contrast(112%);
}

.email {
    text-align: center;
}