.jumbo {
    background-color: $orange;
    padding: 2rem 5rem;
    width: 100%;
    height: 100vh;
    overflow: none;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .heading{
        margin-top: 15vh;
    }
    
    .subHeading{
        text-align: center;
    }
}