@media only screen and (max-width: 1050px) {
    
    
    .navList {
            .navLink {
                margin: 0 2rem;
        }
    }

    .snapWide {
        scroll-snap-align: none;
    }

    .projects {
        height: 100%;

        .scroll {
            display: none;
        }

        .cardsHeading {
            display: none;
        }
    }
    
    .cardGroup {
        flex-direction: column;
        align-items: center;

        .cardSnap.snap800 {
            width: 100%;
            min-height: 0;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            // overflow-y: scroll;
            scroll-snap-align: start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .cardsSnapHeading {
                display: block;

                .cardGroupSnapHeading {
                    display: block;
                }
            }

            .card {
                width: 70%;
                justify-content: space-evenly;

                .cardImg {
                    width: 60%;
                    height: auto;
                }

                .cardLinks {
                    position: relative;
                    bottom: auto;
                }

            }

            .scrollSnap {
                display: block;
            }
            
        }
    }
}

@media only screen and (max-width: 600px) {
    
    .jumbo {

        .heading{
            font-size: 6rem;
            margin-top: 14vh;
        }

        .subHeading{
            font-size: 3.5rem;
        }

        .plainText.description {
            font-size: 1.75rem;
            // margin-bottom: 15%;
            margin-top: 10%;
        }
    }

    .navList.dropdown {
        margin-top: 2rem;
        .dropBtn {
            display: block;
            padding: 16px;
            font-family: $fontStackOstrich;
            font-size: 3rem;
            color: $ghost;
            background-color: $orange;
            border: none;
            cursor: pointer;
        }

        .dropContent {
            display: none;
            width: 65%;
            position: absolute;
            background-color: $orange;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
            
        .dropContent .navLinkBox {
            padding: 3%;
            text-decoration: none;
            display: block;
            width: auto;
            text-align: center;
            .navLink {
                font-size: 2rem;
            }
        }
        
        .dropContent .navLinkBox:hover {background-color: $orange}

    }

    .navList.dropdown:hover .dropContent {
        display: block;
    }
      
    .navList.dropdown:hover .dropbtn {
        background-color: $orange;
    }

    .contactNav{
        .heading{
            font-size: 6rem;
        }
        .subHeading{
            font-size: 3.5rem;
        }
    }

    .contactIcon {
        width: 75px;
    }

    .contactNav{
        .plainText{
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    
    .jumbo{

        .heading{
            font-size: 4rem;
        }

        .plainText.description{
            font-size: 1.5rem;
            padding: 0 2rem;
        }
    }
}

@media only screen and (max-width: 400px){
    
    .jumbo{
        .plainText.description{
            font-size: 1rem;
            width: 80vw;
            padding: 0 2rem;
        }
    }
    
    .contactNav{
        height: 80vh;
        justify-content: flex-start;
        
        .contactBar{
            flex-direction: column;
            justify-content: space-around;
            height: 50%;
    
            .plainText {
                font-size: 1.5rem;
            }

            .contactIcon{
                padding: 1rem 0;
            }
        }
    }


    .footerText{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 350px), screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 480px) {
    
    .jumbo{
        .heading{
            font-size: 2.5rem;
        }
        .subHeading{
            font-size: 1.75rem;
        }

        .plainText.description{
            font-size: 1rem;
            width: 80vw;
            padding: 0 2rem;
        }

        .navList.dropdown{

            margin-top: 0;

            .dropBtn{
                font-size: 2rem;
            }
            .dropContent .navLinkBox{
                .navLink {
                    font-size: 1.75rem;
                }
            }
        }
    }


    .cardGroupSnapHeading{
        font-size: 2rem;
        padding-top: 25%;
    }
    .card{

        height: 50%;
        min-height: 50vh;
        margin: 0rem 2rem;

        .cardText{
            font-size: .75rem;
        }

        .cardLinkText{
            font-size: 1.5rem;
        }

        .cardHeading{
            font-size: 2rem;
        }

    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .contactNav{

            padding-top: 2.5vh; 
    
            .heading{
                font-size: 2rem;
            }
    
            .contactBar{
                .plainText {
                    font-size: 1rem;
                }
            }
    
        }

        .contactIcon{
            width: 50px;
        }
    }

    .down {
        padding-bottom: 1rem;
    }

    .up {
        padding-top: 1rem;
    }
}

@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 480px) {

    .cardGroupSnapHeading{
        padding-top: 10%;
    }

    .cardGroup{
        .cardSnap.snap800{
            .card{
                width: 80%;
                margin: 1rem;

                .cardImg{
                    // width: 35%;
                    display: none;
                }
                .cardLinks{
                    padding-top: 0.5rem;
                }
            }
        }
    }
    
    .contact{
        .contactNav{
            padding-top: 1vh;
        }
    }

    .down {
        padding-bottom: .5rem;
    }

    .up {
        padding-top: .5rem;
    }
}
