#root {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    max-height: 100vh;
    scroll-behavior: smooth;
}

.snap {
    scroll-snap-align: start;
}

.snapWide {
    scroll-snap-align: start;

    @include mediaMax($main){
        scroll-snap-align: none;
    }
}