body {
  width: 100vw;
  max-width: 100%; }

@font-face {
  font-family: "OstrichSans";
  src: url("../assets/fonts/Ostrich-Sans-Regular/ostrich-sans-regular.ttf") format("truetype"), url("../assets/fonts/Ostrich-Sans-Regular/ostrich-sans-regular.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: "OstrichSans-Bold";
  src: url("../assets/fonts/Ostrich-Sans-Black/ostrich-sans-black.ttf") format("truetype"), url("../assets/fonts/Ostrich-Sans-Black/ostrich-sans-black.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: "Noticia";
  src: url("../assets/fonts/NoticiaText-Regular.ttf") format("truetype");
  font-weight: normal; }

.heading {
  font-family: "OstrichSans-Bold", Arial, sans-serif;
  font-size: 7rem;
  font-weight: bold;
  color: #F8F8FF;
  text-align: center; }

.subHeading {
  font-family: "OstrichSans", Arial, sans-serif;
  font-size: 4rem;
  color: #F8F8FF; }

.plainText {
  font-family: "Noticia", serif;
  font-size: 2rem;
  color: #F8F8FF; }

.cardText {
  font-family: "Noticia", serif;
  font-size: 1.25rem;
  color: #274654; }

.cardHeading {
  font-family: "OstrichSans", Arial, sans-serif;
  font-size: 3rem;
  color: #D77356;
  text-align: center; }

.cardGroupHeading, .cardGroupSnapHeading {
  font-family: "OstrichSans-Bold", Arial, sans-serif;
  font-size: 3rem;
  color: #D77356;
  text-align: center;
  background-color: #F8F8FF; }

.footerText {
  font-family: "Noticia", serif;
  font-size: 2rem;
  color: #D77356;
  text-align: center;
  padding: 1rem; }

.cardLinkText {
  font-family: "OstrichSans", Arial, sans-serif;
  font-size: 2rem; }
  .cardLinkText a {
    text-decoration: none;
    color: #D77356; }

.navLink {
  font-family: "OstrichSans", Arial, sans-serif;
  font-size: 3rem;
  color: #F8F8FF;
  padding: 0 1rem;
  position: relative;
  transition: color 1s ease-out;
  -o-transition: color 1s ease-out, background 1s ease-in;
  -ms-transition: color 1s ease-out, background 1s ease-in;
  -moz-transition: color 1s ease-out, background 1s ease-in;
  -webkit-transition: color 1s ease-out, background 1s ease-in;
  text-decoration: none; }

.navList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%; }
  .navList .navLink {
    margin: 0 4rem; }
  .navList .dropBtn {
    display: none; }
  .navList .dropContent {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }

.navLinkBox {
  width: 300px;
  text-align: center; }

.navLink:after {
  border-radius: 1em;
  border-top: 0.1em solid #D77356;
  content: "";
  position: absolute;
  top: 100%;
  bottom: .14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out; }

.navLink:hover:after {
  animation: anchor-underline 2s cubic-bezier(0, 0.5, 0, 1) infinite;
  border-color: #F8F8FF; }

@keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%; }
  40%, 60% {
    left: 0;
    right: 0; }
  90%, 100% {
    left: 100%;
    right: 0; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.jumbo {
  background-color: #D77356;
  padding: 2rem 0;
  width: 100%;
  height: 100vh;
  overflow: none;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .jumbo .plainText.description {
    padding: 0 5rem;
    margin-top: 10vh; }
  .jumbo .jumboName {
    width: 100%; }
  .jumbo .heading {
    margin-top: 15vh; }
  .jumbo .subHeading {
    text-align: center; }
  .jumbo .bottomJumbo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .jumbo .scrollWhite.down {
    position: absolute;
    bottom: 0; }

.card {
  border: 1px #274654 solid;
  min-width: 200px;
  width: 25vw;
  padding: 1rem;
  text-align: center;
  min-height: 60vh;
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.cardImg {
  width: 90%;
  height: 30%;
  padding-bottom: 1rem; }

.cardGroup {
  display: flex;
  justify-content: space-evenly; }
  .cardGroup .card {
    margin: 2rem; }
  .cardGroup .cardSnap.snap800 .cardsSnapHeading {
    display: none; }
    .cardGroup .cardSnap.snap800 .cardsSnapHeading .cardGroupSnapHeading {
      display: none; }
  .cardGroup .cardSnap.snap800 .scrollSnap {
    display: none; }

.projects {
  background-color: #F8F8FF;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.cardLinks {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 1rem; }
  .cardLinks .cardLinkText {
    padding: 0 2rem; }

.cardsHeading {
  text-align: center; }

.scroll, .scrollSnap {
  width: 20px;
  filter: invert(64%) sepia(70%) saturate(1088%) hue-rotate(318deg) brightness(86%) contrast(96%); }

.down {
  padding-bottom: 2rem; }

.up {
  padding-top: 2rem; }

.scrollWhite {
  width: 20px;
  filter: invert(84%) sepia(32%) saturate(420%) hue-rotate(196deg) brightness(107%) contrast(112%); }

.contactIcon {
  min-width: 10vw;
  max-width: 15vw;
  filter: invert(84%) sepia(32%) saturate(420%) hue-rotate(196deg) brightness(107%) contrast(112%); }

.email {
  text-align: center; }

.contact {
  background-color: #D77356;
  height: 100vh;
  text-align: center;
  position: relative;
  width: 100%; }

.contactBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.contactNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15vh; }
  .contactNav .heading {
    margin-bottom: 2rem; }

.footer {
  background-color: #F8F8FF;
  bottom: 0;
  position: absolute;
  width: 100%; }

#root {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh; }

.snap {
  scroll-snap-align: start; }

.snapWide {
  scroll-snap-align: start; }

@media only screen and (max-width: 1050px) {
  .navList .navLink {
    margin: 0 2rem; }
  .snapWide {
    scroll-snap-align: none; }
  .projects {
    height: 100%; }
    .projects .scroll {
      display: none; }
    .projects .cardsHeading {
      display: none; }
  .cardGroup {
    flex-direction: column;
    align-items: center; }
    .cardGroup .cardSnap.snap800 {
      width: 100%;
      min-height: 0;
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .cardGroup .cardSnap.snap800 .cardsSnapHeading {
        display: block; }
        .cardGroup .cardSnap.snap800 .cardsSnapHeading .cardGroupSnapHeading {
          display: block; }
      .cardGroup .cardSnap.snap800 .card {
        width: 70%;
        justify-content: space-evenly; }
        .cardGroup .cardSnap.snap800 .card .cardImg {
          width: 60%;
          height: auto; }
        .cardGroup .cardSnap.snap800 .card .cardLinks {
          position: relative;
          bottom: auto; }
      .cardGroup .cardSnap.snap800 .scrollSnap {
        display: block; } }

@media only screen and (max-width: 600px) {
  .jumbo .heading {
    font-size: 6rem;
    margin-top: 14vh; }
  .jumbo .subHeading {
    font-size: 3.5rem; }
  .jumbo .plainText.description {
    font-size: 1.75rem;
    margin-bottom: 15%;
    margin-top: 10%; }
  .navList.dropdown .dropBtn {
    display: block;
    padding: 16px;
    font-family: "OstrichSans", Arial, sans-serif;
    font-size: 3rem;
    color: #F8F8FF;
    background-color: #D77356;
    border: none;
    cursor: pointer; }
  .navList.dropdown .dropContent {
    display: none;
    width: 50%;
    position: absolute;
    background-color: #D77356;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .navList.dropdown .dropContent .navLinkBox {
    color: black;
    padding: 3%;
    text-decoration: none;
    display: block;
    width: auto;
    text-align: center; }
    .navList.dropdown .dropContent .navLinkBox .navLink {
      font-size: 2rem; }
  .navList.dropdown .dropContent .navLinkBox:hover {
    background-color: #D77356; }
  .navList.dropdown:hover .dropContent {
    display: block; }
  .navList.dropdown.dropBtn:focus .dropContent {
    display: block; }
  .navList.dropdown:hover .dropbtn {
    background-color: #D77356; }
  .contactNav .heading {
    font-size: 6rem; }
  .contactNav .subHeading {
    font-size: 3.5rem; } }

@media only screen and (max-width: 500px) {
  .jumbo .heading {
    font-size: 4rem; }
  .jumbo .plainText.description {
    font-size: 1.5rem;
    padding: 0 2rem; } }

@media only screen and (max-width: 400px) {
  .jumbo .plainText.description {
    font-size: 1rem;
    width: 80vw;
    padding: 0 2rem; }
  .contactNav {
    height: 80vh; }
    .contactNav .contactBar {
      flex-direction: column;
      justify-content: space-around;
      height: 50%; }
      .contactNav .contactBar .plainText {
        font-size: 1.5rem; }
  .footerText {
    font-size: 1.5rem; } }

@media only screen and (max-width: 350px) {
  .jumbo .heading {
    font-size: 2rem; }
  .jumbo .subHeading {
    font-size: 1.5rem; }
  .jumbo .plainText.description {
    font-size: 1rem;
    width: 80vw;
    padding: 0 2rem; }
  .jumbo .navList.dropdown .dropBtn {
    font-size: 2rem; }
  .jumbo .navList.dropdown .dropContent .navLinkBox .navLink {
    font-size: 1.5rem; }
  .card .cardText {
    font-size: 1rem; }
  .contactNav .heading {
    font-size: 2rem; } }
